.services{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .servicesHead{
        width: 100%;
        text-align: center;
        padding: 70px;
        h2{
            font-size: 30px;
            font-weight: 500;
        }
    }
    .allService{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        justify-content: center;
        align-items: center;
        gap: 50px;
        div{
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            
            i{
                font-size: 34px;
                color: #ffb606 ;
            }
        }
    }
}